volumes:
  radarr-config:
  sonarr-config:
  lidarr-config:  
  
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - radarr-config:/config
      - /mnt/torrent-lv/Movies:/movies
      - /mnt/torrent-lv/Torrents:/data
    ports:
      - 32777:7878
    restart: unless-stopped
    
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - sonarr-config:/config
      - /mnt/torrent-lv/TV:/tv
      - /mnt/torrent-lv/Torrents:/data
    ports:
      - 32779:8989
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - lidarr-config:/config
      - /mnt/torrent-lv/music:/music
      - /mnt/torrent-lv/Torrents:/data
    ports:
      - 32778:8686
    restart: unless-stopped

    
