version: '3'

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    ports:
      - 80:80
      - 443:443
    environment:
      - CF_DNS_API_TOKEN=7bMgT3-p6HyEIMQYkiSIMPlj0VUUvvGCj10QAXM1
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/traefik/data/traefik.yml:/traefik.yml:ro
      - /etc/traefik/data/acme.json:/acme.json
      - /etc/traefik/data/config.yml:/config.yml:ro
    labels:
      # Enable Traefik for this router
      - "traefik.enable=true"
      # Router Configuration for Traefik Dashboard
      - "traefik.http.routers.traefik-dashboard.entrypoints=http,https"
      - "traefik.http.routers.traefik-dashboard.rule=Host(`traefik-dashboard.local.zerodavid.net`)"
      - "traefik.http.routers.traefik-dashboard.middlewares=traefik-auth,secured@file"
      - "traefik.http.routers.traefik-dashboard.tls=true"
      - "traefik.http.routers.traefik-dashboard.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik-dashboard.tls.domains[0].main=local.zerodavid.net"
      - "traefik.http.routers.traefik-dashboard.tls.domains[0].sans=*.local.zerodavid.net"
      - "traefik.http.routers.traefik-dashboard.service=api@internal"   
      # Basic Authentication Middleware Configuration
      - "traefik.http.middlewares.traefik-auth.basicauth.users=david:$$apr1$$ET6VRY1o$$35O8mz9wDGwPQNfH0UdMv0"
networks:
  proxy:
    external: true
