volumes:
  app:
  db:

services:
  db:
    image: mariadb:latest
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-file-per-table=1 --skip-innodb-read-only-compressed
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=yXaemFjoCWFC9$LYgn55NeBR2aLH*2
      - MYSQL_PASSWORD=yXaemFjoCWFC9$LYgn55NeBR2aLH*2
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - db
    labels:
      - "com.centurylinklabs.watchtower.monitor-only=true"

  app:
    image: nextcloud:latest
    restart: always
    links:
      - db
    volumes:
      - app:/var/www/html
      - /mnt/nextcloud-lv:/var/www/html/data
    environment:
      - MYSQL_PASSWORD=yXaemFjoCWFC9$LYgn55NeBR2aLH*2
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
    networks:
      - db
      - proxy
    labels:
      # Enable Traefik for this router
      - "traefik.enable=true"
      # Traefik
      - "traefik.http.routers.nextcloud.entrypoints=http,https"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.zerodavid.net`)"
      - "traefik.http.routers.nextcloud.middlewares=secured@file"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.network=proxy"
networks:
  proxy:
    external: true
  db:
