version: "2.1"

services:
  kasm:
    image: lscr.io/linuxserver/kasm:latest
    container_name: kasm
    privileged: true
    environment:
      - KASM_PORT=443
      - DOCKER_MTU=1500
    volumes:
      - data:/opt
      - profiles:/profiles
    networks:
      - proxy
    ports:
#      - 3000:3000
      - 32770:443
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    labels:
      # Enable Traefik for this router
      - "traefik.enable=true"
      # Secure Router Configuration for Traefik Dashboard
      - "traefik.http.routers.kasm.entrypoints=https"
      - "traefik.http.routers.kasm.rule=Host(`kasm.zerodavid.net`)"
      - "traefik.http.routers.kasm.middlewares=secured@file"
      - "traefik.http.routers.kasm.tls=true"
      - "traefik.http.routers.kasm.tls.certresolver=cloudflare"
      - "traefik.http.routers.kasm.tls.domains[0].main=zerodavid.net"
      - "traefik.http.routers.kasm.tls.domains[0].sans=*.zerodavid.net"
      - "traefik.http.services.kasm.loadbalancer.server.port=443"
volumes:
  data:
  profiles:
  
networks:
  proxy:
    external: true
