version: "2.1"

services:
  kasm:
    image: lscr.io/linuxserver/kasm:latest
    container_name: kasm
    privileged: true
    environment:
      - KASM_PORT=443
      - DOCKER_MTU=1500
    volumes:
      - data:/opt
      - profiles:/profiles
    networks:
      - proxy
    ports:
# setup      - 3000:3000
      - 32770:443
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    labels:
      - traefik.enable=true
      - "traefik.http.routers.kasm.rule=Host(`kasm.zerodavid.net`)"
      - "traefik.http.routers.kasm.middlewares=waf@docker"
volumes:
  data:
  profiles:
  
networks:
  proxy:
    external: true
